body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29) !important;
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question {
  width: auto;
  max-width: 590px;
  padding: 10px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  margin: 0 auto;
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.vote-form {
  margin: 1rem 0;
}

.form-check-label {
  padding-left: 0.45rem;
  color: #252525 !important;
}

.form-check-input.is-valid:checked {
  background-color: #252525 !important;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.chart {
  border: 1px solid #57a3ec;
  background: rgba(87, 163, 236, 0.2);
  padding: 1rem;
  margin: 2rem 1rem;
  position: relative;
}

.option {
  width: auto;
  height: auto;
  text-align: left;
}
.option-label {
  position: absolute;
  left: 0;
  width: 380px;
  height: 52px;
  margin: 38px 20px 38px 0;
  font-size: 44px;
  text-align: right;
}

.question-results {
  padding: 0;
}

.results-authorName {
  background: #dad7d7;
  padding: 1rem;
  border: 1px solid #dad7d7;
}
.results-author-img {
  display: grid;
  align-items: center;
  border-right: 1px solid #dad7d7;
}

.results-author-img .avatar {
  /* height: 35%;
  border-radius: 100%;
  margin: 20px; */
  height: 30%;
  border-radius: 100%;
  margin: 35px;
}

.results-grid {
  display: grid;
  grid-template-columns: 2fr 4fr;
  column-gap: 0;
}

.results-title {
  margin-inline-start: 1em;
}

.results {
  width: 100%;
  margin: 5px 0 0;
  position: relative;
}
.results .on {
  height: 35px;
  opacity: 0.75;
  width: 0;
}
.results .on .count {
  line-height: 0px;
  margin-left: 0.5rem;
  font-size: 1.1rem;
  vertical-align: middle;
  text-align: left;
  position: relative;
  left: 81%;
  display: inline-block;
}

.option-label,
.results .on .count {
  color: #fff;
}

.results {
  background-color: rgba(87, 163, 236, 0.5);
}

.results .on {
  background-color: #57a3ec;
  position: relative;
}

.your-vote {
  border: 1px solid yellow;
  border-radius: 100%;
  font-size: 0.6rem;
  padding: 1rem;
  background-color: yellow;
  position: absolute;
  top: -25px;
  right: -18px;
}

.none {
  display: none;
}

.leaderboard-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
